<p id="notice"><%= notice %></p>

<h2>Thanks <%= @bimby_raise.name %>!</h2>

<p>
  <strong>First name:</strong>
  <%= @bimby_raise.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @bimby_raise.last_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bimby_raise.amount %>
</p>


<% if admin? %>
  <%= link_to 'List', bimby_raises_path %>
<% end %>
